= form_tag(assignments_path, method:'get', authenticity_token:false) do 
  .inline
    %span.cpy Recipient
    %br
    = select_tag :recipient, options_from_collection_for_select(@recipients, "id", "name", params[:recipient]), include_blank:true
  .inline
    %span.cpy Worker
    %br
    = select_tag :worker, options_from_collection_for_select(@pcas, "id", "name", params[:worker]), include_blank: true
  - if !@agency.present?
    .inline
      %span.cpy Agency
      %br
    = select_tag :agency, options_from_collection_for_select(Agency.all, "id", "name", params[:agency]), include_blank:true
  .inline
    = submit_tag "Apply"
    - if params.has_key?("utf8")
      = button_tag "Reset", data: "reset"
