= form_for @assignment do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |message|
          %li= message
  %div.container-full.grid-container.formBox.panel-back
    %table
      %tr
        %td.fieldTitle Recipient
        %td.field= f.collection_select :recipient_id, @recipients, :id, :name
      %tr
        %td.fieldTitle Worker
        %td.field= f.collection_select :pca_id, @pcas, :id, :name
      %tr
        %td.actions{colspan:"2"}
          = link_to 'Cancel', url_for(:back)
          = f.submit 'Save'
