- @page_title = "Assignments"
%div.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      - if params.has_key?("utf8")
        %tr
          %th{colspan:"5"}
            .lShare
              .left-filter.pointer{onclick:"toggleFilters()"}
                Filters
                %span#filterCaret &#9650;
            .right-filter.rShare.btnFrame
              %p= link_to 'New Assignment', new_assignment_path
        %tr#filters.filters
          %th{colspan:"5"}
            = render 'filters'
      - else
        %tr
          %th{colspan:"5"}
            .lShare
              .left-filter.pointer{onclick:"toggleFilters()"}
                Filters
                %span#filterCaret &#9660;
            .right-filter.rShare.btnFrame
              %p= link_to 'New Assignment', new_assignment_path
        %tr.hidden#filters.filters
          %th{colspan:"5"}
            = render 'filters'
      %tr
        %th{colspan:"5"}
          %hr.bar
      %tr
        %th Recipient
        %th Worker
        %th Agency
        %th.assignView Verification History  
        %th 

    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.recipient.name
          %td= assignment.pca.name
          %td= assignment.recipient.agency.name
          - if assignment.verifications.present?
            %td.assignView
              %span.veriHistory-btn= link_to("View History", verifications_path(assignment_id:assignment.id))
          - else
            %td.assignView
              %span --- 
          %td.thin
            = link_to destroy_assignment_path(assignment), method: :delete, data: {confirm: "Are you sure you want to delete this assignment?" } do 
              &#x2716
      - if @count > @limit
        - link_count = 0
        - link_total = (@count/@limit.to_f).ceil
        %tr
          %td.page-links{colspan:"7"}
            %div
              - page_count = @page - 2 > 0 && link_total > 5 ? @page - 2 : 1
              - loop do
                - link_count += 1 
                - if page_count > 1 && link_count == 1 && link_total > 5
                  = link_to "&#171;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - elsif link_count == 5 && link_total > 5
                  = link_to "&#187;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - else
                  - if page_count == @page
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link current"
                  - else
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link"
                - break if (page_count * @limit > @count) || link_count > 4
                - page_count += 1