= form_for @verification do |f|
  - if @verification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@verification.errors.count, "error")} prohibited this verification from being saved:"
      %ul
        - @verification.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :end_date
    = f.datetime_select :end_date
  .field
    = f.label :verification_date
    = f.datetime_select :verification_date
  .field
    = f.label :frequency
    = f.number_field :frequency
  .field
    = f.label :verification_photo
    = f.text_field :verification_photo
  .field
    = f.label :first_time
    = f.check_box :first_time
  .field
    = f.label :current
    = f.check_box :current
  .field
    = f.label :verified
    = f.check_box :verified
  .field
    = f.label :recipientPca_id
    = f.number_field :recipientPca_id
  .field
    = f.label :archivedRecipient_id
    = f.number_field :archivedRecipient_id
  .field
    = f.label :archivedPca_id
    = f.number_field :archivedPca_id
  .actions
    = f.submit 'Save'
