- @page_title = "Verification History"
.container-full.grid-container
  - if @assignment.present?
    %table.fullTable.col-12.table-shadow
      %thead
        %tr
          %th.left{colspan:"7"}
            %p
              %span.veriTitle Worker:
              %span="#{@assignment.pca.name}"
            %p
              %span.veriTitle Recipient:
              %span="#{@assignment.recipient.name}"
        %tr
          %th Date Required
          %th Actual Time
          %th Address
          %th Verified
          %th.veriSmall.centered Photo
      %tbody
        - @verifications.each do |verification|
          %tr
            %td.veriSmall= verification.time.present? ? verification.time.strftime("%D") : verification.verification_date.present? ? verification.verification_date.strftime("%D") : "---" 
            %td.veriSmall= verification.verification_date.present? ? verification.verification_date.strftime("%D %l:%M%p") : "---"
            - if verification.latitude.present? && verification.longitude.present? && verification.address.present?
              %td.veriAddress= link_to verification.address, "https://google.com/maps/?q=#{verification.latitude},#{verification.longitude}", target:"_blank"
            - else
              %td.veriAddress= verification.address.present? ? verification.address : "&nbsp;".html_safe
            %td.veriSmall= verification.verified ? "<span class='verified'>Verified</span>".html_safe : "Pending"
            %td.veriSmall.centered
              - if verification.verification_photo.present?
                %span.veriPhoto-btn{onclick: "showVerifImage(#{verification.id})"} View
              - else
                %span ---
  - else
    %table.fullTable.col-12.table-shadow
      %thead
        %tr
          %th Assignment
          %th Date Required
          %th Actual Time
          %th Address
          %th Verified
          %th.veriSmall.centered Photo
      %tbody
        - @verifications.each do |verification|
          %tr
            %td.veri= link_to "#{verification.recipient.name} - #{verification.pca.name}", verifications_path(assignment_id: verification.recipientPca_id)
            %td.veriSmall= verification.time.present? ? verification.time.strftime("%D") : verification.verification_date.present? ? verification.verification_date.strftime("%D") : "---" 
            %td.veriSmall= verification.verification_date.present? ? verification.verification_date.strftime("%D %l:%M%p") : "---"
            - if verification.latitude.present? && verification.longitude.present? && verification.address.present?
              %td.veriAddress= link_to verification.address, "https://google.com/maps/?q=#{verification.latitude},#{verification.longitude}", target:"_blank"
            - else
              %td.veriAddress= verification.address.present? ? verification.address : "&nbsp;".html_safe
            %td.veriSmall= verification.verified ? "<span class='verified'>Verified</span>".html_safe : "Pending"
            %td.veriSmall.centered
              - if verification.verification_photo.present?
                %span.veriPhoto-btn{onclick: "showVerifImage(#{verification.id})"} View
              - else
                %span ---