%p#notice= notice

%p
  %b Time:
  = @verification.time
%p
  %b Address:
  = @verification.address
%p
  %b Latitude:
  = @verification.latitude
%p
  %b Longitude:
  = @verification.longitude
%p
  %b Start date:
  = @verification.start_date
%p
  %b End date:
  = @verification.end_date
%p
  %b Verification date:
  = @verification.verification_date
%p
  %b Frequency:
  = @verification.frequency
%p
  %b Verification photo:
  = @verification.verification_photo
%p
  %b First time:
  = @verification.first_time
%p
  %b Current:
  = @verification.current
%p
  %b Verified:
  = @verification.verified
%p
  %b Recipientpca:
  = @verification.recipientPca_id
%p
  %b Archivedrecipient:
  = @verification.archivedRecipient_id
%p
  %b Archivedpca:
  = @verification.archivedPca_id

= link_to 'Edit', edit_verification_path(@verification)
\|
= link_to 'Back', verifications_path
