= form_for @pca do |f|
  .container-full.grid-container.formBox.panel-back
    %table
      - if action_name != "create" && action_name != "new"
        %tr
          %th{colspan:"3"}
            .left-filter
              %span= link_to "Reset Password", reset_password_path(@pca.user)
            %hr
      - if @pca.errors.any?
        %tr
          %td{colspan:"3"}
            #errors
              %h2= "#{pluralize(@pca.errors.count, "error")} prohibited this pca from being saved:"
              %ul
                - @pca.errors.full_messages.each do |message|
                  %li= message
      %tr 
        %td
          %table
            - if @agency.present?
              = f.hidden_field :agency_id, value:@agency.id
            - else
              %tr
                %td.fieldTitle Agency
                %td.field= f.collection_select :agency_id, Agency.all, :id, :name
            %tr
              %td.fieldTitle First Name
              %td.field= f.text_field :firstName
            %tr
              %td.fieldTitle Last Name
              %td.field= f.text_field :lastName
            - if @current_user.present? && !@current_user.is_pca?
              %tr
                %td.fieldTitle UMPI
                %td.field= f.text_field :umpi
              %tr
                %td.fieldTitle Company Assigned Id
                %td.field= f.text_field :company_assigned_id
            %tr
              %td.fieldTitle Phone Number
              %td.field= f.text_field :phoneNumber
            %tr
              %td.fieldTitle Home Address
              %td.field= f.text_field :home_address          
            %tr
              %td{colspan:"2"}
                = f.fields_for :user do |u|
                  %h2.tableTitle Login Credentials
                  %tr
                    %td.fieldTitle Username
                    %td.field= u.text_field :username
                  %tr
                    %td.fieldTitle Email
                    %td.field= u.email_field :email
                  - if action_name == "create" || action_name == "new"
                    %tr
                      %td.fieldTitle Password
                      %td.field= u.password_field :password
                    %tr
                      %td.fieldTitle Verify Password
                      %td.field= u.password_field :password_confirmation
                  - if @pca.user.present? && @pca.user.archived
                    %tr
                      %td.fieldTitle Archived
                      %td.field.left-align= u.check_box :archived
            - if @current_user.present? && !@current_user.is_pca?
              %tr
                %td{colspan:"2"}
                  %h2.tableTitle App Options
              %tr
                %td.fieldTitle Available
                %td.field.left-align= f.check_box :available
              %tr
                %td.fieldTitle Years of Experience
                %td.field.left-align= f.number_field :years_of_experience
              %tr
                %td.fieldTitle Gender
                %td.field= f.select :gender, Pca.genders

        %td{style: "width: 4rem"}        
        %td{style:"vertical-align:top; padding-top:0"}
          %table
            %tr
              %td{colspan:"2", style:"padding-top:0"}
                %h2.tableTitle Services
            - if @current_user.present? && @current_user.is_pca?
              = f.collection_check_boxes(:service_ids, @services, :id, :name, {}, {disabled:true}) do |s|
                %tr
                  %td.field.right= s.check_box
                  %td.fieldTitle.left-align= s.label              
            - else
              = f.collection_check_boxes(:service_ids, @services, :id, :name) do |s|
                %tr
                  %td.field.right= s.check_box
                  %td.fieldTitle.left-align= s.label
      %tr
        %td.actions{colspan:"3"}
          = link_to 'Cancel', 'javascript:history.back()'
          = f.submit 'Save'