%h1.pageTitle Listing pcas
%div.users.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      %tr
        %th User
        %th Agency
        %th Firstname
        %th Lastname
        %th Umpi
        %th Company assigned
        %th Phonenumber
        %th Home address
        %th Available
        %th Years of experience
        %th Gender
        %th
        %th
        %th

    %tbody
      - @pcas.each do |pca|
        %tr
          %td= pca.user_id
          %td= pca.agency_id
          %td= pca.firstName
          %td= pca.lastName
          %td= pca.umpi
          %td= pca.company_assigned_id
          %td= pca.phoneNumber
          %td= pca.home_address
          %td= pca.available
          %td= pca.years_of_experience
          %td= pca.gender
          %td= link_to 'Show', pca
          %td= link_to 'Edit', edit_pca_path(pca)
          %td= link_to 'Destroy', pca, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Pca', new_pca_path
