- @page_title = "About: #{@pca.name}"
%p.left-filter.half
  = link_to 'Edit', edit_pca_path(@pca)
  %span &middot;
  = link_to 'PCA Admin', users_path(pca_id:@pca.id)

%div.showFrame
  %table.shoTable
    %thead{colspan: "3"}
      %tr
        %th User:
        %td= @pca.user_id
      %tr
        %th Agency:
        %td= @pca.agency_id
      %tr
        %th First Name:
        %td= @pca.firstName
      %tr
        %th Last Name:
        %td= @pca.lastName
      %tr
        %th Umpi:
        %td= @pca.umpi
      %tr
        %th Company Assigned:
        %td= @pca.company_assigned_id
    %thead{colspan: "3"}
      %tr
        %th Phone Number:
        %td= @pca.phoneNumber
      %tr
        %th home Address:
        %td= @pca.home_address
      %tr
        %th Available:
        %td= @pca.available
      %tr
        %th Years of Experience:
        %td= @pca.years_of_experience
      %tr
        %th Gender:
        %td= @pca.gender
