= form_for @user do |f|
  %div.container-full.grid-container.formBox.panel-back
    %table
      - if action_name != "create" && action_name != "new"
        %thead
          %tr
            %th{colspan:"2"}
              .left-filter.half
                %span= link_to "Reset Password", reset_password_path(@user)
      %tbody
        - if @user.errors.any?
          %tr
            %td{colspan:"2"}
              #errors
                %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
                %ul
                  - @user.errors.full_messages.each do |message|
                    %li= message
        - if @current_user.is_admin? && @user.is_admin?
          %tr
            %td.fieldTitle Agency
            %td.field= f.collection_select :agency_id, @agencies, :id, :name, {include_blank:true}
        - elsif !@user.is_admin?
          %tr
            %td.fieldTitle Agency
            %td.field= f.collection_select :agency_id, @agencies, :id, :name
        - elsif @agency.present?
          = f.hidden_field :agency_id, value:@agency.id
        %tr
          %td.fieldTitle First Name
          %td.field= f.text_field :firstName
        %tr
          %td.fieldTitle Last Name
          %td.field= f.text_field :lastName
        %tr
          %td.fieldTitle Username
          %td.field= f.text_field :username
        %tr
          %td.fieldTitle Email
          %td.field= f.email_field :email
        - if action_name == "create" || action_name == "new"
          %tr
            %td.fieldTitle Password
            %td.field= f.password_field :password
          %tr
            %td.fieldTitle Verify Password
            %td.field= f.password_field :password_confirmation
        - if @current_user.is_admin?
          %tr
            %td.fieldTitle Role
            %td.field= f.select :roles, User::ADMIN_SELECT_ROLES
          %tr
            %td.fieldTitle Enabled
            %td.field= f.check_box :enabled
          %tr
            %td.fieldTitle Locked
            %td.field= f.check_box :locked
          %tr
            %td.fieldTitle Expired
            %td.field= f.check_box :expired
        %tr
          %td.actions{colspan:"2"}
            = link_to 'Cancel', 'javascript:history.back()'
            = f.submit "Save"
