%h1.pageTitle-partials Change Password
= form_for @user, url:set_password_path(@user), method:'post' do |f|
  %div.container-full.grid-container.formBox.panel-back
    %table
      - if @user.errors.any?
        %tr
          %td{colspan:"2"}
            #error_explanation
              %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
              %ul
                - @user.errors.full_messages.each do |message|
                  %li= message
      - skip_pass = @current_user.is_agent? || @current_user == @user || @current_user.is_admin?
      - if !skip_pass
        %tr
          %td.fieldTitle Current Password
          %td.field= f.password_field :current_password
      %tr
        %td.fieldTitle New Password
        %td.field= f.password_field :password
      %tr
        %td.fieldTitle Verify Password
        %td.field= f.password_field :password_confirmation
    .actions
      = f.submit 'Save'