= form_for @recipient do |f|
  %div.container-full.grid-container.formBox.panel-back
    %table
      - if action_name != "create" && action_name != "new"
        %thead
          %tr
            %th{colspan:"3"}
              .left-filter
                %span= link_to "Set Care Goals", new_goal_path(recipient_id:@recipient.id)
                %span &middot;
                %span= link_to "Reset Password", reset_password_path(@recipient.user.id)
              %hr
      %tbody
        - if @recipient.errors.any?
          %tr
            %td{colspan:"3"}
              #errors
                %h2= "#{pluralize(@recipient.errors.count, "error")} prohibited this recipient from being saved:"
                %ul
                  - @recipient.errors.full_messages.each do |message|
                    %li= message
        %tr
          %td
            %table
              - if @agency.present?
                = f.hidden_field :agency_id, value:@agency.id
              - else
                %tr  
                  %td.fieldTitle Agency
                  %td.field= f.collection_select :agency_id, Agency.all, :id, :name
              %tr
                %td.fieldTitle First Name
                %td.field= f.text_field :first_name
              %tr
                %td.fieldTitle Last Name
                %td.field= f.text_field :last_name
              %tr
                %td.fieldTitle MA Number
                %td.field= f.text_field :ma_number
              %tr
                %td.fieldTitle Company Assigned Id
                %td.field= f.text_field :company_assigned_id
              %tr
                %td.fieldTitle Home Address
                %td.field= f.text_field :home_address
              %tr
                %td.fieldTitle County
                %td.field= f.collection_select :county_id, County.all, :id, :name 
              %tr
                %td{colspan:"2"}
                  %h2.tableTitle Login Credentials
              = f.fields_for :user do |u|
                %tr
                  %td.fieldTitle Username
                  %td.field= u.text_field :username
                %tr
                  %td.fieldTitle Email
                  %td.field= u.email_field :email
                - if action_name == "create" || action_name == "new"
                  %tr
                    %td.fieldTitle Password
                    %td.field= u.password_field :password
                  %tr
                    %td.fieldTitle Verify Password
                    %td.field= u.password_field :password_confirmation
                - if @recipient.user.present? && @recipient.user.archived
                  %tr
                    %td.fieldTitle Archived
                    %td.field.left-align= u.check_box :archived
              %tr
                %td{colspan:"2"}
                  %h2.tableTitle App Options
              %tr
                %td.fieldTitle Gender Preference
                %td.field= f.select :gender_preference, Recipient.gender_preferences
              %tr
                %td.fieldTitle Skip Verification
                %td.field.left-align= f.check_box :skip_verification
              %tr
                %td.fieldTitle Skip GPS
                %td.field.left-align= f.check_box :skip_gps
          %td{style: "width: 4rem"}
          %td{style:"vertical-align:top; padding-top:0"}
            %table
              %tr
                %td{colspan:"2", style:"padding-top:0"}
                  %h2.tableTitle Services
              = f.collection_check_boxes(:service_ids, @services, :id, :name) do |s|
                %tr
                  %td.field.right= s.check_box
                  %td.fieldTitle.left-align= s.label
        %tr
          %td.actions{colspan:"3"}
            = link_to 'Cancel', 'javascript:history.back()'
            = f.submit 'Save'