%h1.pageTitle Listing recipients
%div.users.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      %tr
        %th User
        %th Agency
        %th Skip verification
        %th Skip gps
        %th First name
        %th Last name
        %th Ma number
        %th Company assigned
        %th Gender preference
        %th County
        %th Home address
        %th
        %th
        %th

    %tbody
      - @recipients.each do |recipient|
        %tr
          %td= recipient.user_id
          %td= recipient.agency_id
          %td= recipient.skip_verification
          %td= recipient.skip_gps
          %td= recipient.first_name
          %td= recipient.last_name
          %td= recipient.ma_number
          %td= recipient.company_assigned_id
          %td= recipient.gender_preference
          %td= recipient.county_id
          %td= recipient.home_address
          %td= link_to 'Show', recipient
          %td= link_to 'Edit', edit_recipient_path(recipient)
          %td= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recipient', new_recipient_path
