- @page_title = "About: #{@recipient.name}"
%p.left-filter.half
  = link_to 'Edit', edit_recipient_path(@recipient)
  %span &middot;
  = link_to 'Recipient Admin', users_path(recipient_id:@recipient.id)

%div.showFrame
  %table.shoTable
    %thead{colspan: "3"}
      %tr
        %th User:
        %td= @recipient.user.name
      %tr
        %th Agency:
        %td= @recipient.agency.name
      %tr
        %th First Name:
        %td= @recipient.first_name
      %tr
        %th Last Name:
        %td= @recipient.last_name
      %tr
        %th MA Number:
        %td= @recipient.ma_number
      %tr
        %th Company Assigned:
        %td= @recipient.company_assigned_id
    %thead{colspan: "3"}
      %tr
        %th Home Address:
        %td= @recipient.home_address
      %tr
        %th County:
        %td= @recipient.county.name
      %tr
        %th Gender Preference:
        %td= @recipient.gender_prefer
      %tr
        %th Skip Verification:
        %td= @recipient.skip_verification
      %tr
        %th Skip GPS:
        %td= @recipient.skip_gps
