.left-filter.lShare
  - if !@bar.present?
    %span.active List
  - else
    = link_to "List", cares_index_path(request.parameters.except(:action, :controller, :format, :bar))
  %span &middot;
  - if @bar.present?
    %span.active Chart
    %span &middot
  - elsif @agency.present? || @recipient.present?
    = link_to "Chart", cares_index_path(request.parameters.except(:action, :controller, :format).merge(bar:"true"))
    %span &middot;
  = link_to "Care Goals", goals_index_path(request.parameters.except(:action, :controller, :format, :bar))
.right-filter.rShare.btnFrame
  - if @recipient.present?
    - if @recipient.care_goals.any?
      %p= link_to "Update Care Goal", edit_goal_path(id:@recipient.care_goals.first.id)
    - else
      %p= link_to "New Care Goal", new_goal_path(recipient_id:@recipient.id)
  - else
    %p= link_to "New Care Goal", new_goal_path
%hr