- if @recipient.present?
  %tr
    %th{colspan:"4"}
      %h3{style:"padding: 0 0.5em;"}
        - if @office.present?
          = link_to "&#8592;".html_safe, cares_index_path(office_id:@office.id)
        - else
          = link_to "&#8592;".html_safe, cares_index_path, {style:"text-decoration:none;"}
        = "&nbsp;&nbsp;#{@recipient.name}  #{Timesheet.get_date_range(@timesheets)}".html_safe
%tr
  - if !@recipient.present?
    %th Recipient
  %th Service Date
  %th Cares Received
- @timesheets.each do |timesheet|
  %tr
    - if !@recipient.present?
      %td= link_to timesheet.recipient.name, cares_index_path(recipient_id:timesheet.recipient.id)
    - session_datum = timesheet.session_datum
    - dateEnding = session_datum.present? && session_datum.time_in.present? ? session_datum.time_in.timeIn.strftime("%D") : "--/--/--"
    %td= dateEnding
    - careoptions = timesheet.careoptions
    %td= careoptions.present? ? careoptions.map{|c| c.care_option}.join(", ") : "None"