%div.container-full.grid-container
  - if @bar.present?
    - @page_title = "Cares Chart"
  - else
    - @page_title = "Care History"
  %table.fullTable.col-12.table-shadow
    %tr
      - if !@bar.present?
        - if @recipient.present?
          %td{colspan:"4"}= render "filters"
        - else
          %td{colspan:"5"}= render "filters"
      - else
        %td= render "filters"
    - if @bar.present?
      %tr
        %td.no-padding= render 'bar'
    - else
      = render 'table'
