.container-full.dashboard
  - if @current_user.is_recipient?
    .row
      = link_to users_path do
        .dashCell
          %span#icon.fa.fa-users{"aria-hidden" => "true"}
          .dashTitle
            %h4 Browse PCAs
  - else
    .row
      = link_to users_path do
        .dashCell
          %span#icon.fa.fa-users{"aria-hidden" => "true"}
          .dashTitle
            %h4 Manage Users
      = link_to timesheets_path(finished:"Yes") do 
        .dashCell
          %span#icon.fa.fa-clock-o{"aria-hidden" => "true"}
          .dashTitle
            %h4 Time Entries
      = link_to assignments_path do 
        .dashCell
          %span#icon.fa.fa-handshake-o{"aria-hidden" => "true"}
          .dashTitle
            %h4 Make Assignments
      = link_to verifications_path do
        .dashCell
          %span#icon.fa.fa-check-square-o{"aria-hidden" => "true"}
          .dashTitle
            %h4 Verify History 
      = link_to goals_index_path do
        .dashCell
          .valuePack
            - if @agency.present?
              .dashValues= "#{(@agency.goal_average).round}%"
            - else
              .dashValues 100%
          .dashTitle
            %h4 Compared to goals
      = link_to settings_redirect_path do 
        .dashCell
          %span#icon.fa.fa-cog{"aria-hidden" => "true"}
          .dashTitle
            %h4 Settings