.container-full.vrtCntr
  %div.login-container
    %div.login-heading
      - if request.host == 'pcafinder.besthomecaremn.com' || request.host == 'pcafindertest.besthomecaremn.com'
        = image_tag("besthomecare-logo-03.png", class: "logoImg")
      - else
        = image_tag("hct-logo4.png", class: "logoImg")
      -#%h3.form-signin-heading Homecare Timesheets
    =form_tag( forgot_post_path, method:"post", :class => "form-signin") do 
      %p#alert= alert
      %div
        %p.log-title Email Address
        %input#username.logform-control{:autofocus => "", :name => "email", :placeholder => "", :type => "text", :required => true}/
        #login-content.centered
          - if @errors.present? && @errors.any?
            #errors
              %ul
                - @errors.each do |message|
                  %li= message
        %div.login-checkbox
          %input{ :type => "checkbox", :id => "checkbox", :name => "username", :value => "option1", :aria-label => "..."}/
          %label.logme Send Username
        %div.login-checkbox
          %input{ :type => "checkbox", :id => "checkbox", :name => "password", :value => "option1", :aria-label => "..."}/
          %label.logme Send Password Reset
        %button.btn-block{:type => "submit"} Submit
        %div.form-bottom
    .container.footer
  %p= "&copy #{Time.now.year} PCA Partners Inc.".html_safe