.container-full.vrtCntr
  %div.login-container
    %div.login-heading
      - if request.host == 'pcafinder.besthomecaremn.com' || request.host == 'pcafindertest.besthomecaremn.com'
        = image_tag("besthomecare-logo-03.png", class: "logoImg")
      - else
        = image_tag("hct-logo4.png", class: "logoImg")
      -#%h3.form-signin-heading Homecare Timesheets
    =form_tag( login_post_path, method:"post", :class => "form-signin") do 
      %p#notice= notice
      - if request.host == 'pcafinder.besthomecaremn.com' || request.host == 'pcafindertest.besthomecaremn.com'
        %p
          %strong Looking for an employee? <br/>
          Login in to your account to search our employee database. 
        %p
          %strong Don't have an account? <br/>
          Contact client services to set up an account.
      %div
        %p.log-title Username
        %input#username.logform-control{:autofocus => "", :name => "username", :placeholder => "", :type => "text", :required => true}/
        %p.log-title Password
        %input.logform-control{:name => "password", :placeholder => "", :type => "password", :required => true}/
        #login-content.centered
          - if @errors.present? && @errors.any?
            #errors
              %ul
                - @errors.each do |message|
                  %li= message
        %button.btn-block{:type => "submit"} Login
        %div.form-bottom
          = link_to "Forgot username or password", forgot_path, class:"login-forgot"
    .container.footer
  %p= "&copy #{Time.now.year} PCA Partners Inc.".html_safe
