.container-full.vrtCntr
  %div.login-container
    %div.login-heading
      = image_tag("hct-logo4.png", class: "logoImg")
      -#%h3.form-signin-heading Homecare Timesheets
    =form_tag( reset_pass_post_path, method:"post", :class => "form-signin") do 
      = hidden_field_tag 'token', @token
      %p#alert= alert
      %div
        %p.log-title New Password
        %input#username.logform-control{:autofocus => "", :name => "password", :placeholder => "", :type => "password", :required => true}/
        %p.log-title Password Confirmation
        %input.logform-control{:name => "password_confirmation", :placeholder => "", :type => "password", :required => true}/
        #login-content.centered
          - if @errors.present? && @errors.any?
            #errors
              %ul
                - @errors.each do |message|
                  %li= message
        %button.btn-block{:type => "submit"} Submit
    .container.footer
  %p= "&copy #{Time.now.year} PCA Partners Inc.".html_safe
