- is_new = action_name == "new" || action_name == "create"
= form_for @agency do |f|
  %div.container-full.grid-container.formBox.panel-back
    - if is_new
      %table.uncommon
        - if @agency.errors.any?
          %tr
            %td#errors{colspan:"2"}
              %h2= "#{pluralize(@agency.errors.count, "error")} prohibited this agency from being saved:"
              %ul
                - @agency.errors.full_messages.each do |message|
                  %li= message
        %tr
          %td.fieldTitle Agency Name
          %td.field= f.text_field :agency_name
        %tr
          %td.fieldTitle Phone Number
          %td.field= f.text_field :phoneNumber
        %tr
          %td.fieldTitle State
          %td.field= f.collection_select :state_id, State.all, :id, :name
        %tr
          %td{colspan:"2"}
            %h2.tableTitle Agency User Info
        = f.fields_for :users do |u|
          = u.hidden_field :roles, value:User::ROLES[1]
          %tr
            %td.fieldTitle First Name
            %td.field= u.text_field :firstName
          %tr
            %td.fieldTitle Last Name
            %td.field= u.text_field :lastName
          %tr
            %td.fieldTitle Username
            %td.field= u.text_field :username
          %tr
            %td.fieldTitle Email
            %td.field= u.email_field :email 
          %tr
            %td.fieldTitle Password
            %td.field= u.password_field :password
          %tr
            %td.fieldTitle Verify Password
            %td.field= u.password_field :password_confirmation
        %tr
          %td{colspan:"2"}
            %h2.tableTitle Agency User Info
        %tr
          %td.fieldTitle Subscription
          %td.field 
            - ss = StripeService.new
            = select_tag "subscription", options_for_select(ss.get_plan_names.prepend("No Active Subscription"), selected:@agency.subscription_name, disabled:["No Active Subscription"])
        %tr
          %td.fieldTitle Card Info
          %td.field
            %div#card-element
        %tr
          %td.field{colspan:"2"}
            .bordered.right-margin
              Accept Terms
              = f.check_box :accept_terms
            = link_to "Terms and Conditions", privacy_policy_path, {class:'current'}
        %tr
          %td.field{colspan:"2"}
            %div#card-errors{role:"alert"}
        %tr
          %td.actions{colspan:"2"}= f.submit 'Sign Up', data: { disable_with: false}, id:"new_sub" 
    - else
      %table.uncommon
        %tr
          %td{colspan:"3"}
            .left-filter
              %span.active Agency Settings
              %span &middot;
              = link_to "Email Settings", agency_email_settings_path(@agency)
              %span &middot;
              = link_to "Subscription", agency_subscription_settings_path(@agency)
        - if @agency.errors.any?
          %tr
            %td#errors{colspan:"3"}
              %h2= "#{pluralize(@agency.errors.count, "error")} prohibited this agency from being saved:"
              %ul
                - @agency.errors.full_messages.each do |message|
                  %li= message
        %tr
          %td.fieldTitle Agency Name
          %td.field= f.text_field :agency_name
          %td.agentcPic{rowspan:"6",style:"vertical-align:top"}
            %p Current Image
            = image_tag(@agency.get_image_url,width:100)
        %tr
          %td.fieldTitle Phone Number
          %td.field= f.text_field :phoneNumber
        %tr
          %td.fieldTitle State
          %td.field= f.collection_select :state_id, State.all, :id, :name
        %tr
          %td.fieldTitle Image
          %td.field= f.file_field :image
        %tr
          %td.fieldTitle
            Week Start Date
          %td.field
            = f.select :week_start_date, Date::DAYNAMES
            %br
            %span.cpy{style:"cursor:inherit"} Changes will effect your workers total hours worked for the past week
        %tr
          %td.fieldTitle
            Start Time
            %br
            %span.cpy &nbsp;
          %td.field
            = f.select :start_time, Agency::START_TIMES
            %br
            %span.cpy{style:"cursor:inherit"} Changes will effect your workers total hours worked for the past week
        - if @current_user.is_admin?
          %tr
            %td.fieldTitle PCA Finder Active?
            %td.field= f.check_box :pca_finder_active
        %tr
          %td.actions{colspan:"3"}
            = link_to 'Cancel', url_for(:back)
            = f.submit 'Save'



