- @page_title = @agency.name
- @partial = true
= form_for @email_setting, url: agency_email_submit_path, method: 'post' do |f|
  = f.hidden_field :agency_id
  %div.container-full.grid-container.formBox.panel-back
    %table.uncommon
      %tr
        %td{colspan:"2"}
          .left-filter
            = link_to "Agency Settings", edit_agency_path(@agency)
            %span &middot;
            %span.active Email Settings
            %span &middot;
            = link_to "Subscription", agency_subscription_settings_path(@agency)
      %tr
        %td{style:"width:75%"}
          %table.uncommon
            %tr
              %td.fieldTitle Email
              %td.field= f.email_field :email 
            %tr
              %td.actions{colspan:"2"}= f.submit "Save"
            - if @email_setting.errors.any?
              %tr
                %td{colspan:"2"}
                  #errors
                    %ul
                      - @email_setting.errors.full_messages.each do |message|
                        %li= message
        %td
          %p.warning Any emails you enter into this form will get emailed a pdf and csv file of every time entry that gets completed.
      %tr
        %td
          %table.uncommon
            %tr
              %th Current Email Addresses
              %th Remove
            - @email_settings.each do |email_setting|
              %tr
                %td= email_setting.email
                %td{style:"width:5%"}= link_to "&#x2716;".html_safe, agency_email_delete_path(email_setting,agency_id:@agency.id), data: {confirm: "Are you sure?" }