- @page_title = "Agencies"
%div.users.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      %tr
        %th Agency name
        %th State
        %th Week Start Day/Time
        %th Phone
        %th Plan

    %tbody
      - @agencies.each do |agency|
        %tr
          %td= link_to agency.name, agency
          %td= agency.state.name
          %td= "#{agency.week_start_date} #{agency.start_time}"
          %td= agency.phoneNumber.present? ? number_to_phone(agency.phoneNumber,area_code:true) : ""
          %td= agency.stripe_sub_name

