%h1.pageTitle= "Details:   #{@agency.name}"
%p.left-filter.lShift
  = link_to 'Edit', edit_agency_path(@agency)
  %span &middot;
  = link_to 'Agency Admin', users_path(agency_id:@agency.id)
  %span &middot;
  = link_to 'Back', agencies_path
%div.showFrame
  %table
    .half
      = image_tag Agency.get_image(@agency.imageName), :class => "shoImage"
  %table.half.table.shoTable
    %thead{colspan:"3"}
      %tr
        %th Agency name:
        %td= @agency.agency_name
      %tr
        %th State:
        %td= @agency.state.name
      %tr
        %th Week Start:
        %td= "#{@agency.week_start_date} #{@agency.start_time}"
      %tr
        %th Phonenumber:
        %td= number_to_phone(@agency.phoneNumber,area_code:true)
      %tr
        %th Plan:
        %td= @agency.plan

