- @page_title = @agency.name
- @partial = true
%div.container-full.grid-container.formBox.panel-back
  %table.uncommon
    %tr
      %td{colspan:2}
        .left-filter
          = link_to "Agency Settings", edit_agency_path(@agency)
          %span &middot;
          = link_to "Email Settings", agency_email_settings_path(@agency)
          %span &middot;
          %span.active Subscription
    %tr
      %td.fieldTitle Subscription:
      %td.field= @subscription_name 
    %tr
      %td.fieldTitle Card Last 4
      %td.field= @card.present? ? @card.last4 : "----"
    %tr
      %td.fieldTitle Expires
      %td.field= @card.present? ? "#{@card.exp_month}/#{@card.exp_year}" : "--/----"
    %tr#sub_change
      %td{colspan:"2",style:"text-align:center;"}
        .btnFrame#changeSub{onclick:"changeSubscription(true)", style:"float:none;margin:0 auto;"}
          %p#changeP Change Subscription
    %tr#change_sub.collapse
      %td{colspan:"2"}
        - if @agency.subscription_name != "No Active Subscription"
          .form-row{style:"margin:0 auto 15px;"}= link_to "Cancel Subscription", agency_cancel_subscription_path(@agency), method: :post, data: { confirm: 'Are you sure?' }
        %form{action:agency_subscription_submit_path, method:"post", id:"sub-form"}
          = hidden_field_tag "authenticity_token", form_authenticity_token
          .form-row
            %label{for:"subscription"} Subscription
            .field
              - ss = StripeService.new
              = select_tag "subscription", options_for_select(ss.get_plan_names.prepend("No Active Subscription"), selected:@agency.subscription_name, disabled:["No Active Subscription"]) 
          .form-row
            %div#sub-errors{role:"alert"}
            %div.actions
              %a{onclick:"changeSubscription(false);"} Cancel
              %input{type:"submit",value:"Submit"}
    %tr#card_change
      %td{colspan:"2",style:"text-align:center;"}
        .btnFrame#changeCard{onclick:"changeCard(true)", style:"float:none;margin:0 auto;"}
          %p#changeC Change Card
    %tr#change_card.collapse
      %td{colspan:"2"}
        %form{action:agency_subscription_submit_path, method:"post", id:"payment-form"}
          = hidden_field_tag "authenticity_token", form_authenticity_token
          .form-row
            %label{for:"card-element"} Credit or debit card
            %div#card-element
            %div#card-errors{role:"alert"}
            %div.actions
              %a{onclick:"changeCard(false)"} Cancel 
              %input{type:"submit",value:"Submit"}