<%= @user.name %>,

A request for a password reset was made on your behalf. Please ignore this email if you did not make this request.
If you did make this request, follow the link below within 24 hours to reset your password.
<%= reset_pass_url(token:@user.confirmation_token) %>

Homecare Timesheets App