= form_tag(timesheets_path, method:"get", authenticity_token:false) do
  .inline
    %span.cpy Recipient
    %br
    = select_tag :recipient, options_from_collection_for_select(@recipients, "id", "name", params[:recipient]), include_blank:true
  .inline
    %span.cpy Worker
    %br
    = select_tag :worker, options_from_collection_for_select(@pcas, "id", "name", params[:worker]), include_blank: true
  .inline
    %span.cpy Service
    %br
    = select_tag :service, options_from_collection_for_select(@services, "id", "name", params[:service]), include_blank: true
  - if !@agency.present?
    .inline
      %span.cpy Agency
      %br
      = select_tag :agency, options_from_collection_for_select(Agency.all, "id", "name", params[:agency]), include_blank:true
  - if !params.has_key?("start_range")
    #dayRange.inline
      %span#daySpan.cpy{onclick:"dayRange()"} Day Range
      %span#dateSpan.cpy2{onclick:"dateRange()"} Date Range
      %br
      = select_tag :days_count, options_for_select(@days_count, params[:days_count]), include_blank: true
    #dateRangeStart.inline.hidden
      %span.cpy Date Range Start
      %br
      = select_date(Time.now - 1.month, prefix:"start_range", disabled:true,  order: [:month, :day, :year], end_year: Time.now.year)
    #dateRangeEnd.inline.hidden
      %span.cpy Date Range End
      %br
      = select_date(Time.now, prefix:"end_range", disabled:true,  order: [:month, :day, :year], end_year: Time.now.year)
  - else
    #dayRange.inline
      %span#daySpan.cpy2{onclick:"dayRange()"} Day Range
      %span#dateSpan.cpy{onclick:"dateRange()"} Date Range
      %br
      = select_tag :days_count, options_for_select(@days_count, params[:days_count]), include_blank: true, disabled: true
    #dateRangeStart.inline
      %span.cpy Date Range Start
      %br
      - start_range = @start_range.present? ? @start_range : Time.now - 1.month
      = select_date(start_range, prompt: true, prefix:"start_range",  order: [:month, :day, :year], end_year:Time.now.year)
    #dateRangeEnd.inline
      %span.cpy Date Range End
      %br
      - end_range = @end_range.present? ? @end_range : Time.now
      = select_date(end_range, prompt: true, prefix:"end_range",  order: [:month, :day, :year], end_year: Time.now.year)
  %br
  .inline
    %span.cpy Include Archived
    %br
    = select_tag :archived, options_for_select(@archived, params[:archived].present? ? params[:archived] : "No")
  .inline
    %span.cpy Verified Only
    %br
    = select_tag :verified, options_for_select(@verified, params[:verified].present? ? params[:verified] : "No")
  .inline
    %span.cpy Finished Only
    %br
    = select_tag :finished, options_for_select(@finished, params[:finished].present? ? params[:finished] : "No")
  .inline
    = submit_tag "Apply"
    - if params.has_key?("utf8")
      = button_tag "Reset", data: "reset"
