= form_for @timesheet do |f|
  .container-full.grid-container.formBox.panel-back
    %table
      - if @timesheet.errors.any?
        %tr
          %td{colspan:"2"}
            #errors
              %h2= "#{pluralize(@timesheet.errors.count, "error")} prohibited this timesheet from being saved:"
              %ul
                - @timesheet.errors.full_messages.each do |message|
                  %li= message
      - if @agency.present?
        = f.hidden_field :agency_id, value:@agency.id
      - else
        %tr
          %td.fieldTitle Agency Id
          %td.field= f.collection_select :agency_id, Agency.all, :id, :name, {on_change:"setTimesheetUsers()"}
      %tr
        %td.fieldTitle Recipient
        %td.field= f.collection_select :recipient_id, @recipients, :id, :name
      = f.fields_for :session_datum do |ff|
        %tr
          %td.fieldTitle Worker
          %td.field= ff.collection_select :pca_id, @pcas, :id, :name
        %tr
          %td.fieldTitle Service
          %td.field= ff.collection_select :service_id, @services, :id, :name
        %tr
          %td.fieldTitle Ratio
          %td.field= ff.collection_select :ratio_id, @ratios, :id, :name
        %tr
          %td.fieldTitle Care Location
          %td.field= ff.collection_select :sharedCareLocation_id, @locations, :id, :name
        = ff.fields_for :time_in do |ti|
          %tr
            %td.fieldTitle Time In
            %td.field.datetime-select= ti.datetime_select :timeIn, {ampm:true, order: [:month, :day, :year, :hour, :minute], datetime_separator:"  "}
          %tr
            %td.fieldTitle Time In Address
            %td.field= ti.select :timeInAddress, @timeInAddresses, {include_blank:true}
          %tr
            %td.fieldTitle Shift Length (Minutes)
            %td.field= ti.number_field :estimatedShiftLength
        - has_time_out = @timesheet.session_datum.time_out.present?
        - if !has_time_out 
          %tr
            %td{colspan:"2"}
              #addTimeOut.btnFrame{onclick:"addTimeOutForm()", style:"float:none; margin: 0 auto;"}
                %p Add Time Out
              #removeTimeOut.btnFrame.hidden{onclick:"removeTimeOutForm()", style:"float:none; margin: 0 auto;"}
                %p Remove Time Out     
          - ff.object.build_time_out          
        = ff.fields_for :time_out do |to|
          = to.hidden_field :_destroy, value:!has_time_out 
          - if has_time_out
            %tr
              %td.fieldTitle Time Out
              %td.field.datetime-select= to.datetime_select :timeOut, {ampm:true, order: [:month, :day, :year, :hour, :minute], datetime_separator:"  " }
            %tr
              %td.fieldTitle Time Out Address
              %td.field= to.select :timeOutAddress, @timeOutAddresses, {include_blank:true}
          - else          
            %tr.hidden.time_out
              %td.fieldTitle Time Out
              %td.field.datetime-select= to.datetime_select :timeOut, {ampm:true, order: [:month, :day, :year, :hour, :minute], datetime_separator:" " }
            %tr.hidden.time_out
              %td.fieldTitle Time Out Address
              %td.field= to.select :timeOutAddress, @timeOutAddresses, {include_blank:true}
      %tr
        %td.actions{colspan:"2"}
          = link_to 'Cancel', 'javascript:history.back()'
          = f.submit 'Save'
