- @page_title = "Time Entries"
%div.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      %tr
        %th{colspan:"10"}
          .lShare
            .left-filter.pointer{onclick:"toggleFilters()"}
              Filters
              - if params.has_key?("utf8")
                %span#filterCaret &#9650;
              - else
                %span#filterCaret &#9660;
          .rShare.right-filter.btnFrame
            %p= link_to "New Time Entry", new_timesheet_path
      - if params.has_key?("utf8")
        %tr#filters.filters
          %th{colspan:"10"}
            = render "filters"
      - else
        %tr#filters.filters.hidden
          %th{colspan:"10"}
            = render "filters" 
      %tr
        %th{colspan:"10"}
          %hr.bar
      %tr
        %th.timeCheckAll= check_box_tag :timesheet_all, 0, false, {onchange:"checkAll(this)"}
        %th Recipient
        %th Worker
        %th In
        %th Out
        %th Service
        %th Agency
        %th.timeTools{colspan: "3"} 
          .rShare.right-filter.timeHeadBtn
            #toolBtn.tools-btn{:onclick => "showTools()","aria-hidden" => "true", disabled:"disabled", title:"You must select at least one Time Entry to use Tools"}
              %p
                Tools &#9660;
                #toolsDropdown.tools-content
                  %a#downLink{onclick:"downloadTimesheets()"} Download Selected
                  %a#archiveLink{onclick:"archiveTimesheets()"} Archive Selected
                  %a#graphLink{onclick:"graphTimesheets()"} Care History
    %tbody
      - @timesheets.each do |timesheet|
        %tr
          - if timesheet.finished?
            %td= check_box_tag :timesheet_id, timesheet.id, false
          - else
            %td= check_box_tag :timesheet_id, timesheet.id, false, {disabled:"disabled"}
          %td= timesheet.recipient.present? ? timesheet.recipient.name : "---"
          %td= timesheet.session_datum.present? && timesheet.session_datum.pca.present? ? timesheet.session_datum.pca.name : "---"
          -# %td.thin= timesheet.session_datum.present? && timesheet.session_datum.time_in.present? ? timesheet.session_datum.time_in.timeIn.strftime("") : "---"
          - has_time_in = timesheet.session_datum.present? && timesheet.session_datum.time_in.present? && timesheet.session_datum.time_in.timeIn.present?
          %td= has_time_in ? timesheet.session_datum.time_in.timeIn.strftime("%D<br>%l:%M%P").html_safe : "---"
          - has_time_out = timesheet.session_datum.present? && timesheet.session_datum.time_out.present? && timesheet.session_datum.time_out.timeOut
          %td= has_time_out ? timesheet.session_datum.time_out.timeOut.strftime("%D<br>%l:%M%P").html_safe : "---"
          %td= timesheet.session_datum.present? && timesheet.session_datum.service.present? ? timesheet.session_datum.service.short_name : "---"
          %td= timesheet.session_datum.present? && timesheet.session_datum.pca.present? ? timesheet.session_datum.pca.agency.name : "---"
          %td
            - if timesheet.timesheet_file.present?
              - files = timesheet.timesheet_file
              %div.timeFiles-btn{:onclick => "fileFunction(#{timesheet.id})","aria-hidden" => "true"}
                %div{id: "timesheet_#{timesheet.id}"}
                  Files &#9660;
                  .timeFiles-content{id: "content_timesheet_#{timesheet.id}"}
                    - has_pdf = files.timesheetPdfFile.present?
                    - has_csv = files.timesheetCsvFile.present?
                    - has_worker_sig = files.timesheetPcaSig.present?
                    - has_rec_sig = files.timesheetRecSig.present?
                    - can_zip = has_pdf && has_csv
                    - if can_zip
                      = link_to "Download ZIP (PDF&amp;CSV)".html_safe, get_zip_path(timesheet_ids:[timesheet.id], file_type:0), {target:"_blank"}
                    - else
                      %div Download ZIP (PDF&amp;CSV)
                    - if has_pdf
                      = link_to "Download PDF", get_pdf_path(timesheet), {target:"_blank"}
                    - else
                      %div Download PDF
                    - if has_csv
                      = link_to "Download CSV", get_csv_path(timesheet), {target:"_blank"}
                    - else
                      %div Download CSV
                    - if has_worker_sig
                      = link_to "Download Worker Sign", download_pca_sig_path(timesheet), {target:"_blank"}
                    - else
                      %div Download Worker Sign
                    - if has_rec_sig
                      = link_to "Download Recipient Sign", download_rec_sig_path(timesheet), {target:"_blank"}
                    - else
                      %div Download Recipient Sign
                    - if has_worker_sig
                      %a{onclick:"showSig(#{timesheet.id}, false)"} Show Worker Signature
                    - else
                      %div Show Worker Signature
                    - if has_rec_sig
                      %a{onclick:"showSig(#{timesheet.id}, true)"} Show Recipient Signature
                    - else
                      %div Show Recipient Signature
            - else
              %div.timeFiles-btn{disabled:"disabled", title:"No Files Available"} Files &#9660;
          %td.thin
            - if timesheet.finished?
              %i.disabled.fa.fa-pencil{"aria-hidden" => "true", "style" => "font-size: 1.5em"}     
            - else
              = link_to edit_timesheet_path(timesheet) do
                %i.fa.fa-pencil{"aria-hidden" => "true", "style" => "font-size: 1.5em"}     
          %td.thin{style:"text-align:center"}
            %a{style:"cursor:pointer;",onclick:"archiveTimesheet(#{timesheet.id});"} &#x2716
      - if @count > @limit
        - link_count = 0
        - link_total = (@count/@limit.to_f).ceil
        %tr
          %td.page-links{colspan:"10"}
            %div
              - page_count = @page - 2 > 0 && link_total > 4 ? @page - 2 : 1
              - loop do
                - link_count += 1 
                - if page_count > 1 && link_count == 1 && link_total > 5
                  = link_to "&#171;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - elsif link_count == 5 && link_total > 5
                  = link_to "&#187;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - else
                  - if page_count == @page
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link current"
                  - else
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link"
                - break if page_count == link_total || link_count > 4
                - page_count += 1