%p#notice= notice

%p
  %b Recipient:
  = @timesheet.recipient_id
%p
  %b Verification:
  = @timesheet.verification_id
%p
  %b Finished:
  = @timesheet.finished
%p
  %b Archived:
  = @timesheet.archived
%p
  %b Sessiondata:
  = @timesheet.sessionData_id

= link_to 'Edit', edit_timesheet_path(@timesheet)
\|
= link_to 'Back', timesheets_path
