default show
- @page_title = "About: #{@user.name}"
%div.showFrame
  %table.shoTable.uncommon
    %tbody
      %tr
        %td{colspan:"2",style:"text-align:center"}
          .left-filter
            = link_to "Agency Users", users_path(admins:true)
            %span &middot;
            = link_to "Edit", edit_user_path(@user)
      %tr
        %td
          %table.uncommon
            %tr
              %th First Name:
              %td= @user.firstName
            %tr
              %th Last Name:
              %td= @user.lastName
            %tr
              %th Username:
              %td= @user.username
            %tr
              %th Email:
              %td= @user.email
        %td
          %table.uncommon
            %tr
              %th Agency:
              %td= @user.agency.present? ? @user.agency.name : "---"
            %tr
              %th Admin:
              %td= @user.admin.present? ? "true" : "false"
            %tr
              %th Roles:
              %td= @user.get_role
            %tr
              %th Enabled:
              %td= @user.enabled