- @page_title = "Users"
%div.users.container-full.grid-container
  %table.fullTable.col-12.table-shadow
    %thead
      %tr
        %th{colspan:"7"}
          .left-filter.lShare
            - if @recips.present?
              %span.active Recipients
            - else
              - if @archived
                = link_to "Recipients", users_path(recipients:true, archived:true)
              - else
                = link_to "Recipients", users_path(recipients:true)
            %span &middot;
            - if @pcas.present?
              %span.active Workers
            - else
              - if @archived
                = link_to "Workers", users_path(pcas:true, archived:true)
              - else
                = link_to "Workers", users_path(pcas:true)
            %span &middot;
            - if @agents.present?
              %span.active Agency Users
            - else
              - if @archived
                = link_to "Agency Users", users_path(agents:true, archived:true)  
              - else
                = link_to "Agency Users", users_path(agents:true)
            - if @current_user.is_admin?
              %span &middot;
              - if @admins.present?
                %span.active Site Admin
              - else
                - if @archived
                  = link_to "Site Admin", users_path(admins:true, archived:true)
                - else
                  = link_to "Site Admin", users_path(admins:true) 
              %span &middot
              - if params.has_key?("archived")
                = link_to "Unarchived", request.parameters.except(:archived)
              - else
                = link_to "Archived", request.parameters.merge(archived:true) 
          .right-filter.rShare.btnFrame
            - if @agency.present?
              - if @recips.present?
                %p= link_to "New Recipient", new_recipient_path(agency_id:@agency.id)
              - elsif @agents.present?
                %p= link_to "New Agency User", new_user_path(agency_id:@agency.id)
              - elsif @pcas.present?
                %p= link_to "New Worker", new_pca_path(agency_id:@agency.id)
            - else
              - if @recips.present?
                %p= link_to "New Recipient", new_recipient_path
              - elsif @agents.present?
                %p= link_to "New Agency User", new_user_path
              - elsif @pcas.present?
                %p= link_to "New Worker", new_pca_path
              - elsif @admins.present?
                %p= link_to "New Admin", new_user_path(admin:true)
      %tr
        %th{colspan:"7"}
          %hr
      %tr
        %th.userCell Name
        %th.userCell Username
        %th.userCell Agency
        %th.longAddress Email
        %th.userCell Last Login
        %th.thin 
        %th.thin 
    %tbody
      - @users.each do |user|
        %tr
          - if user.is_agent?
            %td.userCell= user.name
          - elsif user.is_pca?
            %td.userCell= user.pca.name
          - elsif user.is_recipient?
            %td.userCell= user.recipient.name
          - else
            %td.userCell= user.name
          %td.userCell= user.username
          %td.userCell
            - if @current_user.is_admin?
              - if user.is_pca?
                = link_to user.pca.agency.name, user.pca.agency
              - elsif user.is_recipient?
                = link_to user.recipient.agency.name, user.recipient.agency
              - elsif user.agency.present?
                = link_to user.agency.name, user.agency
            - else
              - if user.is_pca?
                = user.pca.agency.name
              - elsif user.is_recipient?
                = user.recipient.agency.name
              - else
                = user.agency.name
          %td.longAddress{title:"#{user.email}"}= user.email
          %td.userCell= user.last_login.present? ? user.last_login.strftime("%D, %I:%M%P") : "-"
          %td.thin
            - if user.is_agent? || user.is_admin?
              = link_to edit_user_path(user) do
                %i.fa.fa-pencil{"aria-hidden" => "true", "style" => "font-size: 1.5em"}
            - elsif user.is_recipient?
              = link_to edit_recipient_path(user.recipient) do
                %i.fa.fa-pencil{"aria-hidden" => "true", "style" => "font-size: 1.5em"}
            - elsif user.is_pca?
              = link_to edit_pca_path(user.pca) do
                %i.fa.fa-pencil{"aria-hidden" => "true", "style" => "font-size: 1.5em"}
          %td.thin
            - if @archived
              = link_to "&#x2716;".html_safe, dearchive_user_path(user), data: {confirm: "Dearchived users will be shown, but this will not dearchive the user's time entries. Are you sure you want to dearchive this user?" }
            - else
              = link_to "&#x2716;".html_safe, archive_user_path(user), data: {confirm: "Archived users will not be shown. Are you sure you want to archive this user?" }
      - if @count > @limit
        - link_count = 0
        - link_total = (@count/@limit.to_f).ceil
        %tr
          %td.page-links{colspan:"7"}
            %div
              - page_count = @page - 2 > 0 && link_total > 5 ? @page - 2 : 1
              - loop do
                - link_count += 1 
                - if page_count > 1 && link_count == 1 && link_total > 5
                  = link_to "&#171;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - elsif link_count == 5 && link_total > 5
                  = link_to "&#187;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                - else
                  - if page_count == @page
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link current"
                  - else
                    = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link"
                - break if (page_count * @limit > @count) || link_count > 4
                - page_count += 1