.recipient-show-container
  .left-column
    = image_tag @user.avatar, class: "avatar"
  .right-column
    %h1= @user.name
    
    %h2 Personal Information
    
    %p
      %strong Gender:
      - if @user.pca.gender == 1
        Female
      - elsif @user.pca.gender == 2
        Male
      - else
        Not Specified
      <br />
      %strong Years of Experience:
      = @user.pca.years_of_experience
      <br />
      %strong= "About #{@user.firstName}:"
      = @user.pca.about_me
    
    %h2 Contact Information
    
    %p 
      - if @user.pca.phoneNumber.present?
        %strong Phone:
        = link_to @user.pca.phoneNumber, "tel:#{@user.pca.phoneNumber}"
        <br />
      - if @user.email.present?
        %strong Email:
        = mail_to @user.email
    
    %h2 Services
    
    %p
      %ul
        - @user.pca.services.each do |service|
          %li= service.serviceName
    
    
    
    = link_to "&larr; Back".html_safe, users_path