%div.users.container-full.grid-container
  %table.fullTable.col-12.table-shadow.recipient-users-table
    %thead
      %tr
        %th{colspan:"7"}
          .left-filter.lShare
            Filter By:
            %div#filterableOption1.dropdown{:onclick => "pcaFilterableOption1Function()","aria-hidden" => "true"}
              %div#newOpen.droptxt.dropbtn
                Gender
                #pcaFilterableOption1Container.dropdown-content
                  = link_to "All", users_path, class:"backg dropdown-item"
                  = link_to "Female", users_path(gender: 1), class:"backg dropdown-item"
                  = link_to "Male", users_path(gender: 2), class:"backg dropdown-item"
                  = link_to "None Specified", users_path(gender: 0), class:"backg dropdown-item"
              %div#newOpenCaret.dropcaret.dropbtn
                %i.fa.fa-caret-down
                          
          .right-filter.rShare.btnFrame
            = form_tag("/users", method: "get") do
              = text_field_tag(:q, nil, placeholder: "Search")
              = submit_tag("Search")
      %tr
        %th{colspan:"7"}
          %hr
      %tr
        %th.thin
        %th Name
    %tbody
      - if @users.count == 0
        %tr
          %td{colspan: "2"}
            No results found.
      - else
        - @users.each do |user|
          %tr
            %td.thin
              .profile-userpic
                = link_to user_path(user) do
                  = image_tag user.avatar
            %td
              = link_to user.pca.name, user_path(user)

        - if @count > @limit
          - link_count = 0
          - link_total = (@count/@limit.to_f).ceil
          %tr
            %td.page-links{colspan:"7"}
              %div
                - page_count = @page - 2 > 0 && link_total > 5 ? @page - 2 : 1
                - loop do
                  - link_count += 1 
                  - if page_count > 1 && link_count == 1 && link_total > 5
                    = link_to "&#171;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                  - elsif link_count == 5 && link_total > 5
                    = link_to "&#187;".html_safe, request.parameters.merge(page:page_count), class:"page_link"
                  - else
                    - if page_count == @page
                      = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link current"
                    - else
                      = link_to "#{page_count}", request.parameters.merge(page:page_count), class:"page-link"
                  - break if (page_count * @limit > @count) || link_count > 4
                  - page_count += 1