.left-filter.lShare
  - if !@graph.present?
    %span.active List
  - else
    = link_to "List", goals_index_path(request.parameters.except(:action, :controller, :format, :graph))
  %span &middot;
  - if @graph.present?
    %span.active Graph
  - else
    = link_to "Graph", goals_index_path(request.parameters.except(:action, :controller, :format, :bar).merge(graph:"true"))
  %span &middot;
  = link_to "Care History", cares_index_path(request.parameters.except(:action, :controller, :format, :graph))
.right-filter.rShare.btnFrame
  - if @recipient.present?
    - if @recipient.care_goals.any?
      %p= link_to "Update Care Goal", edit_goal_path(id:@recipient.care_goals.first.id)
    - else
      %p= link_to "New Care Goal", new_goal_path(recipient_id:@recipient.id)
  - else
    %p= link_to "New Care Goal", new_goal_path
%hr