= form_for @care_goal do |f|
  .container-full.grid-container.formBox.panel-back
    %table
      - if @care_goal.errors.any?
        %tr
          %td{colspan:"2"}
            #errors
              %h2= "#{pluralize(@care_goal.errors.count, "error")} prohibited these Care Goals from being saved:"
              %ul
                - @care_goal.errors.full_messages.each do |message|
                  %li= message
      %tr 
        %td{style:"vertical-align:top; padding-top:0",colspan:"2"}
          %table
            - if @agency.present?
              = f.hidden_field :setByAgency_id, value:@agency.id
            - else
              %tr
                %td.fieldTitle Agency
                %td.field{colspan:"4"}= f.collection_select :setByAgency_id, Agency.all, :id, :name
            - if action_name == "new" || action_name == "create"
              %tr
                %td.fieldTitle Recipient
                %td.field{colspan:"4"}= f.collection_select :recipient_id, @recipients, :id, :name
            %tr
              %td{colspan:"4", style:"padding-top:0"}
                %h2.tableTitle Care Options
            - count = 0
            %tr
              = f.collection_check_boxes(:goal_care_option_ids, @care_options, :id, :name) do |s|
                %td.field.right= s.check_box
                %td.fieldTitle.left-align= s.label
                - count += 1
                - if count == 2
                  = "</tr><tr>".html_safe
                  - count = 0
      %tr
        %td.actions
          = link_to "Cancel", 'javascript:history.back()'
          = f.submit 'Save'