- if @recipient.present?
  %tr
    %th{colspan:"4"}
      %h3{style:"padding: 0 0.5em;"}
        - if @office.present?
          = link_to "&#8592;".html_safe, goals_index_path(office_id:@office.id)
        - else
          = link_to "&#8592;".html_safe, goals_index_path, {style:"text-decoration:none;"}
        = "&nbsp;&nbsp;#{@recipient.name}  #{Timesheet.get_date_range(@timesheets.transpose[0])}".html_safe
                  
- if @timesheets.present? || @recipient.present?
  %tr
    - if !@recipient.present?
      %th Recipient
    %th Service Date
    %th Cares Received
    %th Goals Unmet
    %th Goals Met %
  - averages = []
  - @timesheets.each do |t|
    %tr
      - timesheet = t[0]
      - if !@recipient.present?
        %td= link_to timesheet.recipient.name, goals_index_path(recipient_id:timesheet.recipient.id)
      - session_datum = timesheet.session_datum
      - dateEnding = session_datum.present? && session_datum.time_in.present? ? session_datum.time_in.timeIn.strftime("%D") : "--/--/--"
      %td= dateEnding
      - careoptions = timesheet.careoptions
      %td= careoptions.present? ? careoptions.map{|c| c.care_option}.join(", ") : "None"
      - if !timesheet.recipient.care_goals.any?
        - goals_met = "<span class='low-avg'>No Goals Set</span>".html_safe
      - elsif t[1].present?
        - goals_met = t[1].map{|c| c.care_option}.join(", ")
      - elsif t[2] == 100
        - goals_met = "<span class='verified'>None</span>".html_safe
      - else
        - goals_met = timesheet.recipient.goal_care_options.map{|g| g.care_option}.join(", ")   
      %td= goals_met
      %td= "#{t[2]}%"
    - averages << t[2]
  - if @timesheets.empty?
    %td{colspan:"5",style:"text-align:center"} No Active Timesheets
- else
  - averages = []
  %tr
    %th Recipient
    %th Goal Cares
    %th Goals Met %
  - @recipients.each do |r|
    %tr
      %td= link_to r.name, goals_index_path(recipient_id:r.id)
      %td= r.get_goal_care_options.join(",")
      - avg = r.get_goals_average
      - if avg < 35
        - goals_average = "<span class='low-avg'>"
      - elsif avg < 70
        - goals_average = "<span class='med-avg'>"
      - else
        - goals_average = "<span class='hi-avg'>"
      - goals_average += "#{avg}%</span>"
      %td= goals_average.html_safe
- if !averages.empty?
  %tr
    - average = averages.reduce(:+) / averages.size.to_f
    - if average < 35
      - goal_average = "<span class='low-avg'>"
    - elsif average < 70
      - goal_average = "<span class='med-avg'>"
    - else
      - goal_average = "<span class='hi-avg'>"
    - goal_average += "Goal Average: #{average.round(2)}%</span>"
    - if !@recipient.present?
      %td.goal-avg{colspan:"5"}
        %h3= goal_average.html_safe
    - else
      %td.goal-avg{colspan:"4"}
        %h3= goal_average.html_safe