%div.container-full.grid-container
  - if @graph.present?
    - @page_title = "Care Goal Graph"
  - elsif @bar.present?
    - @page_title = "Cares Chart"
  - else
    - @page_title = "Care Goal Comparison"
  %table.fullTable.col-12.table-shadow
    %tr
      - if !@graph.present? && !@bar.present?
        - if @recipient.present?
          %td{colspan:"4"}= render "filters"
        - else
          %td{colspan:"5"}= render "filters"
      - else
        %td= render "filters"
    - if @graph.present?
      %tr
        %td.no_padding.canvas-size= render 'graph'
    - elsif @bar.present?
      %tr
        %td.no_padding.canvas-size= render 'bar'
    - else
      = render 'table'

