@import "font-awesome"; 

$background: #FAFAFA;
$base-color: #3F7798;
$paper-back: #FFFFFF;
$paper-grey: #CCCCCC;
$text-white: #FFFFFF;
$text-black: #3e474c;
$text-grey:  #676767;
$text-green: #008000;
$error-red:  #FF0000;
$yellow: #FFFF00;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*--   @include border-radius(0.2rem);  */

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}
.outline {
  border: 1px solid black;
}
/*---------- Globals-----------*/

html {
  width: 100vw;
  overflow-x: hidden;
  background: $background;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
ul {
  margin-left: 0;
  padding-left: 0;
 }

body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: $text-black;
  font-size: 14px;
  line-height: 1.2rem;
  background: $background;
  margin: 0 auto 3.4rem;
}

pre {
  background-color: #eee;
  padding: 0.7rem;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: lighten($text-grey,10%);
  font-weight: 400;

  &:visited {
    color: lighten($text-grey, 15%);
  }
  &:hover {
    color: darken($base-color, 20%);
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 0.8rem;
  }
}
/*-- Site error styles --*/
#notice {
  color: $text-green;
}

.notice {
  font-size: 0.9rem;
  color: $text-green;
  text-align: left;
  padding: 0em 0.8rem;
  margin-bottom: 1.43em;
  border: 1px solid lighten($text-green, 20%);
  border-radius: 4px;

  & a {
    color: $text-green;
    font-size: large;
    float: right;
    padding-right: 3rem;
    padding-top: 1rem;
    cursor: pointer;

  }
}

.alert {
  font-size: 0.9rem;
  color: $error-red;
  text-align: left;
  padding: 0em 0.8rem;
  margin-bottom: 1.43em;
  border: 1px solid lighten($error-red, 20%);
  border-radius: 4px;

  & a {
    color: $error-red;
    font-size: large;
    float: right;
    padding-right: 3rem;
    padding-top: 1rem;
    cursor: pointer;

  }
}

.verified {
  color: $text-green;
}

.hi-avg {
  color: lighten($text-green, 10%);
}

.med-avg {
  color: darken($yellow, 15%);
}

.low-avg {
  color: lighten($error-red, 20%);
}

#errors {
  color: darken($error-red, 10%);
}

.field_with_errors {
  display: table;
  text-align: center;
  background-color: darken($error-red, 10%);
  @include border-radius(0.2rem);
  @include Opacity(0.45);
}

#error_explanation {
  width: 450px;
  border: 0.14rem solid darken($error-red, 10%);
  padding: 0.4rem 0.4rem 0;
  margin-bottom: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  @include border-radius(0.2rem);
h2  {
    text-align: center;
    font-weight: bold;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    font-size: 1rem;
    margin: -0.4rem -0.45rem 0;
    background-color: #c00;
    color: $text-white;
}
ul li {
    display:inline-block;
    font-size: 0.8rem;
    list-style: square;
  }
}
/*--- end site error notice styles  ----*/

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.container-full {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/*---grid column---*/
.grid-container  {
  box-sizing: border-box;
  width: 100%;
}

[class*='col-'] {
  float: left;
  min-height: 0.08rem; 
  /*-- gutter --*/
  padding: 0.6rem 0.6rem; 
}
.col-1{ width: 8.33%;  }
.col-2{ width: 16.66%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%;    }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%;    }
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;  }

.panel-back  {
  background-color: $paper-back;
}
.lShare {
  display: inline-block;
  width: 48%;
	
vertical-align: middle;
  line-height: 2rem;
}
.rShare {
  display: inline-block;
  width: 48%;
}
.fullTable  {
  padding-left: 2.2em ;
  padding-right: 2.2em ;
  text-align: left;


  & tbody tr:nth-child(even) {
    background-color: lighten($text-grey, 55%);
  }

  & tr:last-child {
    & td {
      border-bottom: none;
    }
  }
  & tr td.thin {
    width: 5%;
    text-align: center;

    &:first-child {
    text-align: left;
    }
    & input[type="checkbox"] {
    cursor: pointer;
    }
    & a:hover {
      text-decoration:none;
    }
  }
  & tr td.time {
    width: 16.5%;
  }
  & tr td.timeDate {
    width: 8%;
  }
  & tr td.assignView {
    width: 8.4rem;
    text-align: center;
  }
  & tr td.veri {
    width: 18%;
  }
  & tr td.veriAddress {
    width: 18%;
    padding-right: 1rem;
  }
  & tr td.veriSmall {
    width: 8%;
  }
  & tr td.no_padding {
    padding: 0;
    &.canvas-size {
      height: 400px;
      overflow: hidden;
    }
  }
  & a:hover {
    text-decoration: underline;
    background: transparent;
    font-weight: 500;
  }
}
.userCell {
  width: 17%;
}
.timeFile {
 width: 4rem;
}
.veriTitle {
  font-weight: 400;
}
.pageTitle {
  text-align: left;
  padding-left: 3rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: $base-color;
  font-weight: 400;
}

hr {
  display: inline-block;
  height: 0.08rem;
  width: 100%;
  border: 0;
  border-top: 0.08rem solid lighten($text-grey, 40%);
  padding: 0; 
}

.table-shadow {
  border: 0.08em solid rgba(0,0,0,0.1);
  -webkit-box-shadow: 0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);
  -moz-box-shadow:    0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);
  box-shadow:         0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);
}

th {
  color: $base-color;
  font-weight: 600;
}

td {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}

/*--- Form styles -----*/
.formBox  {
  position: relative;
  max-width: 64em;
  padding: 1.6em 4em 3.2em;
  margin: 0 auto;
  border: 0.08em solid rgba(0,0,0,0.1);
  -webkit-border-radius: 0 0 0.2em 0.2em;
  border-radius: 0 0 0.2em 0.2em; 
  -webkit-box-shadow: 0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);
  box-shadow:  0.2em 0.2em 0.3em 0 rgba(50, 50, 50, 0.43);

  table {
    margin: 0 auto;
    position:relative;

  & tr:last-child {
    & td {
      border-bottom: none;
    }
  }
 }
   table.uncommon {
     left: 0;
  }
}

.fieldTitle  {
  color: $base-color;
  font-weight: 600;
  text-align: right;
  padding-right: 1rem;
}

.tableTitle  {
  color: $base-color;
  font-weight: 600; 
}

.field input[type=text],
.field input[type=password],
.field input[type=email],
.field input[type=number]  {
  width: 20rem;
  height: 1.8rem;
  padding-left: 0.6rem;
  cursor: pointer;
}

.field input[type=number] {
  margin-left:-0.6rem;
}

.actions input[type=submit]  {
  display:inline-block;
  width: 13.7rem;
  height: 2.8rem;
  margin-top: 2rem;
  padding: 0.6rem 0;
  color: $text-white;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  background-color: $base-color;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.actions a  {
  display: inline-block;
  width: 13.7rem;
  height: 2.8rem;
  margin-top: 2rem;
  padding: 0.8rem 0;
  color: $base-color;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  background-color: $paper-grey;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}


.field select {
  width: 20rem;
  height: 1.8rem;
  padding-left: 0.6rem;
  cursor: pointer;
  option {
    padding-left: 0.6rem;
  }
}
.field input[type=checkbox] {
  cursor: pointer;
  text-align: left;
}
.left-align {
  text-align: left;
  padding-left: 0.7rem;
}

.centered {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.clear  {
  clear: both;
}

.btnFrame  {
  width: 9rem;
  height: 2rem;
  float: right;
  margin: 0 2.3rem 1px 0;
  background-color: $paper-back;
  border: 1px solid lighten($text-grey, 30%);
  @include border-radius(0.12rem);
  text-decoration: none;

  &:hover, 
	&:hover a	{
    color: $base-color;
    border-color: $base-color;
    cursor: pointer;
    text-decoration: none;
	 }
  & p {
    text-align: center;
    margin-top: 0.4rem;
	}
}

.current  {
  color: $base-color;
  font-weight: 600;

  &:hover, &:active, &:visited {
    color: $base-color;
    font-weight: 600;
    text-decoration: none;
  }
}

p.warning {
  background-color: lighten($yellow, 30%);
  text-align:center
}

.inline {
  display: inline-block;
}
.cpy {
  font-size: 0.7rem;
  color: $base-color;
  &:hover {
    cursor: pointer;
  }
}

.cpy2 {
  font-size: 0.7rem;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

/*---  Main application index page specific styles  ---*/
.head{
  box-sizing: border-box;
  text-align: left;
  padding: 1rem;
  color: $text-white;
  background-color: $base-color;
  box-shadow:0 0.2rem 0.2rem #ccc;
  height: 6rem;
  width:100%;
}

.lefthead  {
  display: inline-block;
  vertical-align: middle;
  min-width: 400px;
  text-align: left;
  position: absolute;
  left: 1.6rem;

/* Logo  */
  & img {
    height: 4rem; 
  }
}

.hidden {
  display:none;
}

.bordered {
  border: solid 1px $text-grey;
  padding: 0.45rem 0.93rem;
  display: inline-block;
}
.left-margin {
  margin-left: 1.5rem;
}
.right-margin {
  margin-right: 1.5rem;
}

/*---- dropdown menu button ----*/
.righthead  {
  display: inline-block;
  min-width: 146px;
  text-align: right;
  position:absolute;
  top: 2rem;
  left: calc(83vw);  
  & span {
    margin-right: 1rem;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.dropdown  {
  position: relative;
  display: inline-block;
  background-color: $paper-back;
  color: lighten($text-grey, 20%);
  font-size: 1.05rem;
  font-weight: 500;
  cursor: pointer;
  @include border-radius(0.12rem);

  &:hover {
    & .dropbtn {
      color: $base-color;
    }
  }
  & a:hover {
  color: #000;
  background-color: lighten($base-color, 50%);
  }
}
.droptxt  {
  display: inline-block;
  min-width: 7.8rem;
  border-right: 0.08rem solid $base-color;
  text-align: center;
  padding: 0.45rem 0.93rem;
}
.dropcaret {
 display: inline-block;
  padding-right: 0.4rem;
}

.dropbtn  {
  background-color: $paper-back;
  border-radius: 0.12rem 0 0 0.12rem;

  &:hover,
   :focus {
  color: $base-color;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $paper-back;
  @include border-radius(0.2rem);  
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0,0,0,0.2);
  left: 50%;
  top: 100%;
  transform: translate(-50%, 5%); 
  z-index: 3;
  min-width: 9rem;

  & a {
  display: block;
  font-size: .9rem;
  color: $text-grey;
  text-align: left;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: $paper-back;
  @include border-radius(0.2rem);  
  z-index: 1;
  }
}

.show {
  display:block;
}

.pageFrame  {
  margin-top: 1.4rem; 
 }

/*---------- Sidebar Nav and Profile  ------- */

.sidenav  {
  padding-left: 0;
}

.profile-sidebar {
  background: transparent;
}

.profile-userpic  {
  display: -webkit-flex;
  display: flex;
  text-align: left;
}
.profile-userpic img {
  height: 4rem;
  margin: 0 1rem;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  margin-top: 0.8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usertitle-name {
  color: $text-grey;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: auto; 
}
.usertitle-agency  {
  padding-top: 0.5rem;
  display:inline-block;
  overflow: hidden;
  text-align: center;
}

.nav  {
  list-style-type: none;
  margin: 0;
}

.profile-usermenu {
  margin-top: 0;
  margin-left: 0.04rem;
  text-align: left;

  & ul li {
    border-bottom: 0.08rem solid lighten($text-grey, 50%);
    padding: 0.6rem 0.04rem;
    &:hover {
      a {
        background-color: transparent;
        color: $base-color;
        i {
            background-color: transparent;
            color: $base-color;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
    &.active {
      border-bottom: none;
      color: $base-color;

      & a {
        color: darken($base-color, 20%);
        background-color: transparent;
        border-left: 0.2rem solid $base-color;
        margin-left: -0.2rem;
        border-bottom: 0.08rem solid lighten($text-grey, 50%);
       }
      }
    & a.active {
      color: $base-color;
      & .nav-icon {
        color: $base-color;
      }
     } 
    & a {
      margin: 0 0.4rem;
      padding: 0.2rem 0;
      color: lighten($text-grey, 10%);
      font-size: 0.9rem;
      font-weight: 400;
      text-decoration: none;
      
      & .nav-icon  {
        display: inline-block;
        width: 1.4rem;
        text-align: center;
        color: lighten($text-grey, 10%);
        & i {
          font-size: 1rem;
        }
      }
      &:hover {
        background-color: transparent;
        color: $base-color;
      }
    }
  }
}

.profile-pca-links {
  margin-top: 1rem;
  margin-left: 0.6rem;
  text-align: left;

  & a {
    text-decoration: none;
      font-size: 0.86rem;
      color: lighten($text-grey, 10%);
    
    &:hover {
      color: $base-color;
    }
  }
  & span {
    font-size: 0.8rem;
    color: lighten($text-grey, 10%);
  }
}

/*-- Login page ------*/
.login-container  {
  width: 28.8rem;
  margin: 4rem auto;
  border: 1px solid rgba(0,0,0,0.1);
  @include border-radius(0.2rem);
  -webkit-box-shadow: 0 0 0.4rem 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0 0 0.4rem 0 rgba(50, 50, 50, 0.2);
  box-shadow:         0 0 0.4rem 0 rgba(50, 50, 50, 0.2);
}
.login-heading  {
  background: $base-color;
}

.logoImg  {
  width: 28rem;
  margin-top: 0.5rem;
}

.form-signin {
//  height: 26.8rem;
  padding: 1.8rem 2rem 3.2rem;
  background-color: $paper-back;
}

.log-title  {
  margin: 0px 0;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  color: $base-color;
  text-align: left;
  padding-left: 0.8rem;
  padding-bottom: 1.2rem;
}

.logform-control  {
  text-align: center;
  width: 22.8rem;
  height: 2.4rem;
  margin-bottom: 1.4rem;
  text-align: left;
  padding: 0.4rem;
}

.login-checkbox {
  margin-bottom: 1.4rem;
  margin-left: 2rem;
  text-align: left;

  & label:after  { 
    content: '';
    display: table;
 }
}

.logme  {
  display: inline-block;
  margin-left: 0.36rem;
  vertical-align: top;
  font-weight: 600;
  opacity: 0.9;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

/*--login submit button --*/
.btn-block  {
  width: 20rem;  
  height: 2.4rem;
  margin-bottom: 1.4rem;
  background-color: $base-color;
  color: $text-white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  @include border-radius(0.2rem);
}

.form-bottom  {
  text-align: center;
  margin: 0 auto;
}

.login-forgot  {
  color: lighten($text-black, 10%);
  font-weight: 600;
  font-size: 1.08rem;
  opacity: .7;
  padding: 0;

  &:hover {
    text-decoration: underline;
    background: transparent;
    color: $text-black;
  }
}

/*-- copyright below log in ---*/
.foter p{
  margin: 2.8rem auto 0;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  opacity: 0.6;
}

/*----------Dashboard page ----------------*/
.dashboard  {
  width: 100%;
  height: 100%;
  vertical-align: middle;

  & row {
    display: table-row;
    margin: 0 auto;

    & a  {
      text-decoration: none;

      & :hover  {
        background: $paper-back;
        text-decoration: none;
     }
    }
  }
}

.dashCell  {
  width: 27%;
  height: 18%;
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.5rem 0.6rem;
  color: lighten($text-grey, 10%);
  text-align: center;
  border: 0.08rem solid lighten($text-grey, 10%);
  min-width: 300px;
  @include border-radius(0.2rem);
  background-color: $paper-back;
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(138, 147, 151, 0.75);
  -moz-box-shadow:    0.2rem 0.2rem 0.4rem 0 rgba(138, 147, 151, 0.75);
  box-shadow:         0.2rem 0.2rem 0.4rem 0 rgba(138, 147, 151, 0.75);

    &:hover  {
      color: $base-color;
      background-color: $paper-back;
    }

    &a  {
      color: $text-grey;
      text-decoration: none;

      &:hover  {
        color: $base-color;
        text-decoration: none;
    } 
  }
}

h4  {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.9rem;
}

.fa {
  background: transparent;
}

#icon {
    font-size: 8rem;
}

.valuePack  {
  display: block;
  padding-top: 3.9rem;
  padding-bottom: 0;
}
.dashValues  {
  display: inline-block;
  font-size: 7.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2.9rem;
}

.dashTitle {
  white-space: nowrap;
  color: darken($text-grey, 2%);
  width:100%;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 1rem;
  background: $paper-back;
}
h5  {
  font-size: 2rem;
  font-weight: 500;
}


/*---------Users Page-----------*/
.page-links {
  text-align: center;
  padding: 1.2rem;
  border-bottom: none;
  background: $paper-back;
  div {
    position:relative;
    left: -2rem;
  }
  & .page-link {
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.6rem 1rem;
  border: 1px solid $base-color;
  @include border-radius(0.3rem);
  text-decoration: none;
  
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &.current {
      color: $text-white;
      background-color: $base-color;
      &:hover, &:active, &:visited {
         font-weight: 600;
      }
    }
  }
}


.users  {
  width: 100%;
  height: 6rem;
  background-color: $paper-back;

  & ul{
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1.4rem;

    & li { 
      display: inline;
      font-size: 1rem;
    }
  }
}

table {
  background-color: $paper-back;
}
/*---  'Assignment'and Time Entries pages -------------*/
/*--aligns header height with user page without button */
.assign-spacer {
  height: 47px;
  padding-top: 14px;
}

.left-filter{ 
  cursor: pointer;
  display: inline;

  & a {
    padding: 0 0.25rem;
    &:hover {
      text-decoration: underline;
      font-weight: 500;
    }
  }
  span {
    padding: 0 0.25rem; 
    color: $base-color;
    font-weight: 600;
    cursor: auto;
    &.active {
      font-weight: 400;
    }
  }
  &.pointer {
    border: 0.08em solid lighten($base-color,40%);
    @include border-radius(0.2rem);
    padding: 0.25rem;
    span { cursor: pointer; }
  } 
}

.right-filter  {
  text-align: right;
}

.half {
  color: $base-color;
}

.filters input[type=submit],
.filters button  {
  width: 4.5rem;
  height: 2.5rem;
  margin-top: 0.4rem;
  padding: 0.6rem 0;
  color: $text-white;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  border: 1px solid $base-color;
  border-radius: 0.2rem;
  cursor: pointer;
}
.filters input[type=submit] {
  background-color: lighten($base-color, 20%);
  &:hover {
    background-color: $base-color;
  }
}
.filters button {
  color: #000;
  background-color: $paper-back;
  &:hover {
    background-color: lighten($text-grey,40%);
  }
}
.filters select {
  width: 15rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  padding-left: 0.6rem;
  cursor: pointer;
  option {
    padding-left: 0.6rem;
  }
}

/*---  'New' Form pages -------------*/
.pageTitle-partials {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: $base-color;
  font-weight: 400;
}

.agency-signup {
  text-align: left;
  padding-left: 20rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: $base-color;
  font-weight: 400;
}

/*---  Show Pages -------------*/
.showFrame {
  width: 80%;
  margin-left: 3rem;
  background-color: $paper-back;
  border: 0.08em solid lighten($text-grey,40%);
  @include border-radius(0.2rem);
  -webkit-box-shadow: 0 0.6em 1.2em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0 0.6em 1.2em 0 rgba(0, 0, 0, 0.2);
  box-shadow:         0 0.6em 1.2em 0 rgba(0, 0, 0, 0.2);
}
.shoImage {
  height: 13rem;
  vertical-align: middle;
}
.shoTable  {
  display: inline-block;
  margin: 0 auto;
  padding-top: 0.8em;
  background-color: transparent;
  vertical-align: middle;

  & thead  {
    display: inline;
    margin: 0 2.2em;
    width: 14.3em;
  }

  & th  {
    text-align: right;
    padding: 0.4em;
    font-weight: 400;
  }
  & td  {
    text-align: left;
  }
  & td:nth-child(2)  {
    color: $base-color;
    font-weight: 800;
  }
  & td:nth-child(3)  {
    padding-left: 0.4em;
  }
}

.set-shoTable  {
width: 15rem;
word-wrap: break-word;
display: inline-block;
}

.agentcPic {
  padding-left: 1rem;
  & p {
    color: $base-color;
    font-weight: 600;
  }
  & img {
    width: 200px;
    background: lightblue;

  }
}
/*------ Timesheet page -------*/
.timeHead {
  height: 2.1rem;

  & th:first-child {
    cursor: pointer;
  }
}
.timeCheckAll {
 & :hover {
  cursor: pointer;
  }
}
.timeHeadBtn {

  & a {
    padding: 0.4rem;
    background-color: $paper-back;
    border: 1px solid $base-color;
    @include border-radius(0.2rem);
    text-decoration: none;

      &:hover, &:active, &:visited {
        color: $base-color;
        text-decoration: none;
    }
  }
}

.tools-btn {
  display: inline-block;
  position: relative;
  width: 200%;
  max-width: 9rem;
  height: 2rem;
  color: $text-grey;
  border: 1px solid lighten($text-grey, 30%);
  @include border-radius(0.12rem);
  cursor: pointer;

  & p {
    text-align: center;
    margin-top:0.4rem;
  }
  &:hover {
    color: $base-color;
    border-color: $base-color;
  }
}

div[disabled=disabled] {
    background-color: lighten($text-grey, 50%);
    color: $text-white;
    border: 1px solid $text-grey;
    cursor: pointer;
    &:hover {
      background-color: lighten($text-grey, 50%);
      color: $text-white;
      border: 1px solid $text-grey;
    }
}

.tools-content {
  display: none;
  position:absolute;
  background-color: $paper-back;
  @include border-radius(0.12rem);
  border: 1px solid lighten($paper-grey, 10%);
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0,0,0,0.2);
  left: 50%;
  top: 100%;
  transform: translate(-50%, 5%);   z-index: 3;
  min-width: 7rem;
    & a {
    display:block;
    padding: 0.5rem 1rem;
    width: 13rem;
    text-align: left;
    background-color: $paper-back;
    text-decoration: none;
    border: none;
      &:hover, &:active, &:visited {
      color: #000;
      text-decoration: none;
    }
     &:hover {
    background-color: lighten($base-color, 50%);
    }
  }
}
.timeTools {
  padding-left: 2%;
}
.timeFiles-btn {
  position: relative;
  min-width: 4rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  color: $text-grey;
  border: 1px solid lighten($text-grey, 30%);
  @include border-radius(0.12rem);
  cursor: pointer;

  &:hover {
    color: $base-color;
    border-color: $base-color;
  }
}
.timeFiles-content {
  display: none;
  position: absolute;
  background-color: $paper-back;
  
  border: 1px solid lighten($paper-grey, 10%);
  @include border-radius(0.2rem);  
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0,0,0,0.2);
  left: 50%;
  top: 100%;
  transform: translate(-50%, 2%);   z-index: 3;
  min-width: 7rem;
  font-size: .9rem;
  & div {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: $paper-grey;
    display:block;
    @include border-radius(0.2rem);  
    z-index: 1;
  }
  & a {
  display: block;
  color: $text-grey;
  text-align: left;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: $paper-back;
  @include border-radius(0.2rem);  
  z-index: 1;

  &:hover {
    text-decoration: none;
    color: #000;
    background-color: lighten($base-color, 50%);
    }
  }
}

.modal-signature {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

/*--- Verification Page----------*/
/*--- Verify photo button----*/
.veriHistory-btn,
.veriPhoto-btn {
  text-align: center;
  background-color: $paper-back;
  padding: .1rem .5rem;
  border: 1px solid lighten($text-grey, 30%);
  @include border-radius(0.12rem);

  &:hover {
    cursor: pointer;
    color: $base-color;
    border-color: $base-color;
    & a {
      color: $base-color;
    }
  }
  & a {
     text-decoration: none;
     color: lighten($text-grey, 10%);
  }
  & a:hover {
    text-decoration: none;
    color: $base-color;
  }
}


/*------Goals-----*/

.goal-avg {
  text-align: left;
  padding: 1.2rem;
  border-bottom: none;
  background: $paper-back;
}

/*------ Responsive styles -------------*/

@media screen 
and (min-width : 768px) 
and (max-width : 1025px) {

.fullTable  {
  & tr td.longAddress {
    display: inline-block;
    width: 8rem;
    height: 2.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & :hover {
      cursor: pointer;
    }
  }
}
}

@media screen 
and (max-width : 770px) {
  
/*---- Login page ---*/
.formContainer  {
  width: 25rem;
  margin: 1rem auto;
}
.logoImg  {
  width: 22rem;
  margin-left: -20px;
}
.logform-control {
  width: 20rem;
  margin-left: -20px; 
}
.btn-block  {
  width: 20rem;
  margin-left: -20px; 
}
.login-forgot {
  margin-left: -20px;
}

/*--- Main page header  index ---*/
.lefthead img {
margin-left: -20px;
 }
 .righthead { 
  left: calc(73vw);
}
.droptxt {
  min-width: 0;
  font-size: 0.9rem;
  padding: 0.34rem 2.2rem;
}
.dropdown-content {
  left: 0.4rem;
  top: 1.29rem;
  a {
  font-size: 0.9rem;
  }
}

[class*='col-'] {
  padding-left:0.06rem;
  padding-right: 0.06rem;
}

.profile-userpic {
  display: block;
  text-align: inherit;
  margin-left: -0.75rem;
}
.usertitle-agency {
  margin-left: -0.75rem;
}
.profile-pca-links a {
  font-size: 0.86rem;
}

.profile-usermenu ul li a {
  font-size: 0.8rem;
  margin: auto;

  & .nav-icon {
  display: none;
  } 
}

.lShare {
  width: 60%;
  padding-top: 1rem;
}

.fullTable  {
  padding-left: 0.4rem;

  & tr td.longAddress {
    display: inline-block;
    width: 8rem;
    height: 2.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & :hover {
      cursor: pointer;
    }
  }

}
.fullTable tr td.time {
  white-space: wrap;
    color: blue;
  }

.timeFiles-content {
  left: 15%;
}
.fullTable tr tc:nth-child(8) {
	width: 4.02rem;
}
.left-filter{ 
  & a {
  display:inline-block;

    padding: 0 0.25rem;
  }
  span {
    padding: 0.25rem ;
  }
}

.btnFrame  {
  margin-right: 1rem;
}

.filters select {
  width: 11rem;
}
.uncommon .field {
  & input[type=text] {
    width: 10rem;
  }
  & select {
  width: 10rem;
  }
}

.formBox {
  padding: 1.6rem 0 3.2rem;
}

.fieldTitle {
  width: 7rem;
  vertical-align:top;
  padding: 0.8rem 0.5rem;
}
.field select {
  width: 14rem;
}
.field input[type=text],
.field input[type=password],
.field input[type=email],
.field input[type=number]  {
  width: 14rem;
}
.field input[type=number] {
  margin-left: 0.4rem;
}
.uncommon td:first-child {
  padding-bottom: 20px;
}
.agentcPic {
  padding-left: 0rem;
  & img {
    width: 150px;
  }
}
#agency_image {
  width: 11rem;
	padding-left: 0rem;
}
#icon {
  font-size: 8rem;
}
}
/*------ end Responsive styles ------*/


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(63,119,152, 0.2);
  border-right: 1.1em solid rgba(63,119,152, 0.2);
  border-bottom: 1.1em solid rgba(63,119,152, 0.2);
  border-left: 1.1em solid #3f7798;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.datetime-select {
  & select {
    width: auto;
    padding-left: 0.2rem;
    & option {
      padding: 0.2rem;
    }
  }
}

.disabled {
  color: lighten($text-grey, 50%);
}

.hide {
 visibility: hidden;
}


.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-row {
  width: 500px;
}

#card-errors {
 margin: 15px auto 0;
 color: red;
 
}
.middle {
  margin: 0 auto;
}

.collapse {
 visibility: collapse;
}

.visible {
 visibility: visible;
}

.recipient-users-table {
  border-collapse: collapse;
  .left-filter, #filterableOption1 {
    padding-left: 1rem;
  }
  .right-filter form {
    padding-top: 0.5rem;
  }
  .btnFrame {
    border: none;
    width: 12rem;
  }
  #filterableOption1 .droptxt {
    padding: 0rem;
    border-right: 0rem;
    font-size: 14px;
    text-align: left;
  }
}

/*--- Recipient Users Show ---*/

.recipient-show-container {
  width: 800px;
  margin: 0px auto;
  padding-top: 1rem;
  .left-column {
    width: 200px;
    float: left;
    .avatar {
      max-width: 200px;
    }
  }
  
  .right-column {
    padding-left: 1rem;
    h1 {
      text-align: left;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      color: #3F7798;
      font-weight: 400;
    }
    width: 600px;
    float: right;
    text-align: left;
  }
}

/*--- Best Home Care branding ---*/

.besthomecare {
  .head, .login-heading {
    background-color: #fff;
  }
}