.profile-sidebar
  .profile-userpic
    =image_tag (@current_user.avatar), :class => "img-responsive"
    .profile-usertitle
      .usertitle-name
        = @current_user.name
  - if !@current_user.is_admin? && !@current_user.is_recipient?
    .usertitle-agency= @current_user.agency.name
  - elsif @agency.present?
    .usertitle-agency= @agency.name
  %hr.bar
  / SIDEBAR MENU
  .profile-usermenu
    %ul.nav

      %li
        - if @current_user.is_admin?
          = link_to agencies_path, class: "#{'active' if controller_name == 'agencies' && action_name == 'index'}" do
            .nav-icon
              %i.fa.fa-tachometer{"aria-hidden" => "true"}
            Agencies
        - else
          = link_to dashboard_path do
            .nav-icon
              %i.fa.fa-tachometer{"aria-hidden" => "true"}
            Dashboard
      %li
        = link_to users_path, class: "#{'active' if controller_name == 'users' || controller_name == 'pcas' || controller_name == 'recipients'}" do
          .nav-icon
            %i.fa.fa-users{"aria-hidden" => "true"}
          %span Manage Users
      %li
        = link_to timesheets_path(finished:"Yes"), class: "#{'active' if controller_name == 'timesheets'}" do
          .nav-icon
            %i.fa.fa-clock-o{"aria-hidden" => "true"}
          Time Entries
      %li
        = link_to assignments_path, class: "#{'active' if controller_name == 'assignments'}" do
          .nav-icon
            %i.fa.fa-handshake-o{"aria-hidden" => "true"}
          Assignments
      %li
        = link_to verifications_path, class: "#{'active' if controller_name == 'verifications'}" do
          .nav-icon
            %i.fa.fa-check-square-o{"aria-hidden" => "true"}
          Verify History
      %li
        = link_to goals_index_path, class: "#{'active' if controller_name == 'goals' || controller_name == 'care'}" do
          .nav-icon
            %i.fa.fa-percent{"aria-hidden" => "true"}
          Compare Goals
      %li
        = link_to settings_redirect_path, class: "#{'active' if controller_name == 'agencies' && action_name != 'index'}" do
          .nav-icon
            %i.fa.fa-cog{"aria-hidden" => "true"}
          Settings
      %li
        = link_to logout_path do
          .nav-icon
            %i.fa.fa-window-close-o{"aria-hidden" => "true"}
          Log Out

  .profile-pca-links
    %p
      %a{:href => "http://pcapartners.net",target:"_blank"}
        PCA Partners
    %p
      %a{:href => "http://homecaretimesheetsapp.com",target:"_blank"}
        Homecare Timesheets App
    %p
      %a{onclick:"showContact();", style:"cursor:pointer"}
        Contact Us
    %p
      %span.copyr= "&copy #{Time.now.year} PCA Partners Inc.".html_safe



