!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Homecare Timesheets
    = csrf_meta_tags
    = favicon_link_tag
    - if action_name == "subscription" || action_name == "subscription_submit" || (controller_name == "agencies" && action_name == "new") || (controller_name == "agencies" && action_name == "create")
      = javascript_include_tag "https://js.stripe.com/v3/"
      %script(type="text/javascript")
        ="var stripe = Stripe('#{Rails.application.secrets.stripe_public_key}');".html_safe
    %script(type="text/javascript")
      ="var BASE_URL = '#{root_url}';".html_safe
      ="var action = '#{action_name}';".html_safe
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'

  %body{class: "#{'besthomecare' if (request.host == 'pcafinder.besthomecaremn.com' || request.host == 'pcafindertest.besthomecaremn.com')}"}
    - actions = ["login", "login_post", "forgot", "forgot_post", "reset_pass", "privacy_policy"]
    - if !actions.include?(action_name) 
      %div.container-full
        %div.head
          %div.lefthead
            - if request.host == 'pcafinder.besthomecaremn.com' || request.host == 'pcafindertest.besthomecaremn.com'
              = image_tag("besthomecare-logo-03.png", onclick:"jumpTo(1)")
            - else
              = image_tag("hct-logo4.png", onclick:"jumpTo(1)")
            -#%h2#logotext{onclick:"jumpTo(1)"}
              -#Homecare Timesheets
          %div.righthead
            - if controller_name == "agencies" && action_name == "new"
            - elsif action_name != "dashboard" && @current_user && @current_user.is_admin?
              %div.dropdown{:onclick => "headbtnFunction()","aria-hidden" => "true"}
                %div#newOpen.droptxt.dropbtn
                  New
                  #btnDropdown.dropdown-content
                    = link_to "New Worker", new_pca_path, class:"backg dropdown-item"
                    = link_to "New Recipient", new_recipient_path, class:"backg dropdown-item"
                    = link_to "New Agency User", new_user_path, class:"backg dropdown-item"
                    = link_to "New Assignment", new_assignment_path, class:"backg dropdown-item"
                    = link_to "New Time Entry", new_timesheet_path, class:"backg dropdown-item"
                %div#newOpenCaret.dropcaret.dropbtn
                  %i.fa.fa-caret-down
            - else
              %div.dropdown
                %div#newOpen.droptxt.dropbtn{:onclick => "headbtnFunction()","aria-hidden" => "true"}
                  Account
                  #btnDropdown.dropdown-content
                    = link_to logout_path, class:"backg dropdown-item" do
                      Logout

                %div#newOpenCaret.dropcaret.dropbtn{:onclick => "headbtnFunction()","aria-hidden" => "true"}
                  %i.fa.fa-caret-down{for:"newOpenCaret"}

      .container.grid-container
        .row
          - if @current_user.present? && @current_user.is_admin? && !(action_name == "dashboard" || action_name == "login" || action_name == "login_post")
            .col-2#mySidenav.sidenav
              = render "layouts/sidebar" 
            .col-10#main
              - if @page_title.present?
                - if !@partial.present?
                  %h1.pageTitle= @page_title
                - else
                  %h1.pageTitle-partials= @page_title 
              - if flash.notice.present?
                .notice#notice
                  %p{style:"display:inline-block;"}= flash.notice
                  %a{onclick:"hideNotice()"} &#x2716;
              - if flash.alert.present?
                .alert#alert
                  %p{style:"display:inline-block;"}= flash.alert
                  %a{onclick:"hideAlert()"} &#x2716;
              = yield
          - else
            .col12#main
              - if @page_title.present?
                - if !@partial.present?
                  %h1.pageTitle= @page_title
                - else
                  %h1.pageTitle-partials= @page_title 
              - if flash.notice.present?
                .notice#notice
                  %p{style:"display:inline-block;"}= flash.notice
                  %a{onclick:"hideNotice()"} &#x2716;
              - if flash.alert.present?
                .alert#alert
                  %p{style:"display:inline-block;"}= flash.alert
                  %a{onclick:"hideAlert()"} &#x2716;
              = yield
    - else
      = yield